/*@import "./framework7.ios.less";*/
/*@import "./framework7.ios.colors.less";*/
/*@import "common.less";*/

i{
    font-style: inherit;
}
html,body{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    background: #fe4f3e;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.container{
    width: 100%;
    position: absolute;
}
.container .bg-img{
    width: 100%;
}
.container form{
    padding: 0 20px;
    margin-top: -10%;
}
.container form input{
    display: block;
    width: 90%;
    height: 50px;
    line-height: 50px;
    padding: 0 5%;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #454545;
    border: none;
    border-radius: 5px;
}
.container form .warn{
    color: #ff412f;
}
.container form .button{
    display: block;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #BFBFBF;
    text-decoration: none;
}
.container form .active{
    color: #f55350;
    background-color: #fde56f;
}
.container form .my-input {
    position: relative;
}
.container form .my-input .warn-icon{
    position: absolute;
    right: 8px;
    top: 9px;
    display: none;
    height: 25px;
    line-height: 25px;
    width: 25px;
    border: 2px solid #fe4f3e;
    border-radius: 17px;
    color: #fe4f3e;
    font-size: 18px;
}

.container form .my-input .ver-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    background-color: #fde56f;
    color: #f55350;
    text-align: center;
    overflow: hidden;
}